extends layouts/main

block title
  title Taylor Gerring / Systems Integration

block content
  div#about
    :markdown
      Taylor Gerring is a Systems Integrator specializing in p2p networking and cryptographic software. `{PGP: 0xE62C5439B8A9B74D, Bitcoin: 1TAYLoRvKqjytcokRx9ZfNNF9odQyU4Bf, Ethereum: null}`

      Social:
      * [Twitter](https://twitter.com/taylorgerring)
      * [LinkedIn](https://www.linkedin.com/in/taylorgerring)
      * [GitHub](https://github.com/tgerring)
